@model LanguageSelectorModel

@inject Nop.Core.IWebHelper webHelper
@if (Model.AvailableLanguages.Count > 1)
{
  var currLanguage= Model.AvailableLanguages.FirstOrDefault(a=>a.Id==Model.CurrentLanguageId);
 var returnUrl = webHelper.GetRawUrl(Context.Request);



       <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle"  id="flag_box" href="#" role="button" >
                            <img class="nav-country" style="width: .22rem;" src="@Url.Content("~/images/flags/"+@currLanguage.FlagImageFileName)" alt="">
                        </a>

                        <ul class=" flag-list"  style="display: none;position: absolute;">
                          @foreach (var lang in Model.AvailableLanguages)
            {
            <li>
                <a href="@Url.RouteUrl("ChangeLanguage", new { langid=lang.Id, returnUrl },webHelper.CurrentRequestProtocol)" title="@lang.Name">
                    <img title='@lang.Name' alt='@lang.Name'  src="@Url.Content("~/images/flags/" + @lang.FlagImageFileName) "/>
                        </a>
                    </li>
            }
                        </ul>
                    </li>
}