<nav class="navbar navbar-inverse  justify-content-end">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         @await Component.InvokeAsync("Logo")
        <!-- <img class="navbar-brand nav-logo pd0 ml5" src="~/Themes/CoreTheme/Content/images/logo.png" alt=""> -->
      </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav pull-right">
          <li>  <a href="@Url.RouteUrl("ContactUs")"> <strong class="link-white">OUR STORY<strong></a></li>
          <li><a href="@Url.RouteUrl("Blog")"><strong class="link-white">CUSTOMER STORIES<strong></a></li>
          <li><a href="@Url.RouteUrl("Category", new { SeName = "computers" })"><strong class="link-white">PRODUCTS<strong></a></li>
          <li><a href="@Url.RouteUrl("ShoppingCart")"><strong class="link-white">@T("ShoppingCart")<strong class="link-white"></a></li>
          @await Component.InvokeAsync("HeaderLinks")         
          <li><a href="#" id="searchIcon" class="glyphicon glyphicon-search"></a></li>
          <li class="over-hidden"><input  class="nav-search" type="text"></li>
          @await Component.InvokeAsync("LanguageSelector")      
        </ul>
      </div>
    </div>
  </nav>