@model HeaderLinksModel
@inject Nop.Core.IWebHelper webHelper

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksBefore })
        @if (Model.IsAuthenticated)
        {
            <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
            <li><a href="@Url.RouteUrl("Logout")">@T("Account.Logout")</a></li>
        }
        else
        {
            var returnUrl = webHelper.GetRawUrl(Context.Request);
           <li><a href="@Url.RouteUrl("Login")">@T("Account.Login")</a></li>
        }
        @if (Model.WishlistEnabled)
        {
           
        }
        @if (Model.AllowPrivateMessages)
        {
           
        }
     
        @if (Model.ShoppingCartEnabled)
        {
        
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksAfter })

