@model HeaderLinksModel
@inject Nop.Core.IWebHelper webHelper

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksBefore })
        @if (Model.IsAuthenticated)
        {
            <li><a href="@Url.RouteUrl("CustomerInfo")"><strong  class="link-white">@T("Account.MyAccount")</strong></a></li>
            <li><a href="@Url.RouteUrl("Logout")"><strong  class="link-white">@T("Account.Logout")</strong></a></li>
        }
        else
        {
            var returnUrl = webHelper.GetRawUrl(Context.Request);
           <li><a href="@Url.RouteUrl("Login")"><strong class="link-white">@T("Account.Login")</strong></a></li>
        }
        @if (Model.WishlistEnabled)
        {
           
        }
        @if (Model.AllowPrivateMessages)
        {
           
        }
     
        @if (Model.ShoppingCartEnabled)
        {
        
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksAfter })

