@model CategoryModel
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-category-page");

    if (seoSettings.CanonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(categoryUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}




        <div class="ov-title">@T("PRODUCT OVERVIEW")</div>

        @foreach (var item in Model.SubCategories)
        {
        <!--        1-->
        <div class="circle-box clearfix pd0">
            <div class="ov-title-s">
                <a class="link-red" href="@Url.RouteUrl("Category", new { SeName=item.SeName })"
                    title="@item.PictureModel.Title">
                    @item.Name
                </a>
            </div>
            <div class="cir-list ov-circle">

            @foreach(var product_item in Model.Products.Take(4))
           {     <div class="cir-item">
                    <div class="item-mask">
                        <div class="item-mask-text">
                             <a class="link-white" href="@Url.RouteUrl("Product", new { SeName=product_item.SeName })"
                    title="@product_item.SeName">
                    @product_item.Name
                </a>
                        </div>
                        <span class="icon font_family left-icon">&#xe60c;</span>
                        <span class="bot-text">@product_item.ProductPrice.Price</span>
                        <span class="icon font_family right-icon">&#xe60d;</span>
                    </div>
                 <img  alt="@product_item.DefaultPictureModel.AlternateText" src="@product_item.DefaultPictureModel.ImageUrl" title="@product_item.DefaultPictureModel.Title">
                </div>
                
                }
             

                <!--                sold-out 样式-->
                <div class="cir-item sold-out">
                    <div class="item-mask">
                        <div class="item-mask-text">sold out</div>
                    </div>
                    <img src="./images/product.png" alt="">
                </div>            
                <div class="cir-item ov-view-more">
                    <span class="animated" id="view_more">
                       <a class="link-white" href="@Url.RouteUrl("Product", new { SeName=item.SeName })">
                  VIEW MORE
                </a>
                   </span>
                </div>
            </div>

            <!--            <div class="cir-str">VIEW ALL OUR PRODUCTS</div>-->
        </div>
        }






