@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;



<!--底部-->
<div class="footer">
    <!-- <div class=" clearfix"><img id="gotop" class="back-top pull-right" src="~/Themes/CoreTheme/Content/images/backtop.png" alt=""></div> -->

    <div class="footer-box">
        <div class="t-box">
            <div class="t-item"><span class="icon font_family">&#xe603;</span><span class="t-text">Ace bikes</span>
            </div>
            <div class="t-item"><span class="icon font_family">&#xe608;</span><span class="t-text">acebikes</span>
            </div>
            <div class="t-item"><span class="icon font_family">&#xe60b;</span><span class="t-text">Acebikes</span></div>
        </div>


        <div class="footer-list">
            <!--    第一列-->
            <div class="footer-item">
                <div class="f-text">ACEBIKE</div>
                <div><a class="link-white"> OUR STORY</a></div>
                <div><a class="link-white">MATERIAL</a></div>
                <div><a class="link-white">TECHNOLOGY</a></div>
                <div><a class="link-white">JOIN US</a></div>
                <div><a class="link-white"> CONTACT</a></div>
            </div>


            <!--    第二列-->
            <div class="footer-item">
                <div class="f-text"> PRODUCTS</div>
                <div> <a class="link-white">ROAD</a></div>
                <div><a class="link-white">OFF ROAD</a></div>
                <div> <a class="link-white">MTB</a></div>
                <div> <a class="link-white">COMPONENTS</a></div>
                <div> <a class="link-white">SHIMANO</a></div>
                <div><a class="link-white"> APPERAL</a></div>
            </div>

            <!--  第三列-->
            <div class="footer-item">
                <div class="f-text">SUPPORT</div>
                  @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                {
                    <div><a class="link-white" href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></div>
                }      
            </div>

            <!--  第四列-->
            <div class="footer-item">
                <div class="f-text">POLICY</div>
                     @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                {
                    <div><a class="link-white" href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></div>
                }   

            </div>


            <!--  第五列-->
            <div class="footer-item">
                <div class="f-text">NEWS LETTER </div>
                <div><a class="link-white" href="@Url.RouteUrl("Login")"> sign in for al te latest</a></div>
                <div><a class="link-white"> and greatest from acebikes</a></div>
                <div class="f-border">E-mailadress</div>

            </div>
        </div>
    </div>
</div>